

#app {
    padding-top: 50px;
    text-align: center;
  }
  
  #app h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  #app h1:before {
    content: '';
    background-size: contain;
    width: 34px;
    height: 34px;
    display: inline-block;
    margin-right: 14px;
    position: relative;
    top: 6px;
  }